<div>
    <h2 id="page-heading">
        <span jhiTranslate="covtestApp.testCovid.home.title">Test Covids</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-test-covid-testcovid" [routerLink]="['/test-covid-testcovid/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="covtestApp.testCovid.home.createLabel">
            Create a new Test Covid
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'covtestApp.testCovid.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="testCovids?.length === 0">
        <span jhiTranslate="covtestApp.testCovid.home.notFound">No testCovids found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="testCovids && testCovids.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="positive"><span jhiTranslate="covtestApp.testCovid.positive">Positive</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateTest"><span jhiTranslate="covtestApp.testCovid.dateTest">Date Test</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="resulatTest"><span jhiTranslate="covtestApp.testCovid.resulatTest">Resulat Test</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="secretKey"><span jhiTranslate="covtestApp.testCovid.secretKey">Secret Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recupered"><span jhiTranslate="covtestApp.testCovid.recupered">Recupered</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="personneId"><span jhiTranslate="covtestApp.testCovid.personne">Personne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let testCovid of testCovids ;trackBy: trackId">
                    <td><a [routerLink]="['/test-covid-testcovid', testCovid.id, 'view']">{{ testCovid.id }}</a></td>
                    <td>{{ testCovid.positive }}</td>
                    <td>{{ testCovid.dateTest | date:'medium' }}</td>
                    <td>
                        <a *ngIf="testCovid.resulatTest" (click)="openFile(testCovid.resulatTestContentType, testCovid.resulatTest)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="testCovid.resulatTest">{{ testCovid.resulatTestContentType }}, {{ byteSize(testCovid.resulatTest) }}</span>
                    </td>
                    <td>{{ testCovid.secretKey }}</td>
                    <td>{{ testCovid.recupered }}</td>
                    <td>
                        <div *ngIf="testCovid.personneId">
                            <a [routerLink]="['/personne-testcovid', testCovid.personneId , 'view']" >{{ testCovid.personneId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/test-covid-testcovid', testCovid.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/test-covid-testcovid', testCovid.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(testCovid)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="testCovids && testCovids.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
